<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<!-- <base href="/"> -->

	<title><!--#echo var="title" --></title>
	<meta name="description" content="Startup HTML template OptimizedHTML 5">
	<meta name="viewport" content="width=device-width">
	<meta property="og:image" content="images/dist/preview.jpg">
	<link rel="icon" href="images/favicon.png">
	<link rel="stylesheet" href="css/main.min.css">

</head>
<body>
	<header class="header">
		<div class="container">
			<div class="header-top">
				<div class="logo">
					<a href="/">
						<img src="img/logo-sm.svg" alt="Translatez">
					</a>
					<div class="logo__desc">
						Профессиональные<br>переводческие услуги
					</div>
				</div>
				<div class="lang">
					<a class="lang__items" href="#">Kz</a>
					<a class="lang__items" href="#">Ru</a>
					<a class="lang__items" href="#">En</a>
				</div>
				<div class="social">
					<span class="social__text">Свяжитесь с нами<br> через месенджеры</span>
					<div class="social__list">
						<a href="#" class="social__list-item social__list-item--whatsapp">
							<img src="img/icons/whatsapp.svg" alt="Whatsapp">
						</a>
						<a href="#" class="social__list-item social__list-item--telegram">
							<img src="img/icons/telegram.svg" alt="Telegram">
						</a>
					</div>
				</div>
				<div class="header-top__phone">
					<a href="tel:77073200560" class="header-top__phone-number">+7 707 320 05 60</a>
					<div class="header-top__phone-text">Заказать звонок</div>
				</div>
				<div class="menu-burger">
					<span></span>
					<span></span>
					<span></span>
				</div>
				<div class="mobile-menu">
					<a class="mobile-menu__item" href="/">Главная</a>
					<a class="mobile-menu__item" href="#">О компании</a>
					<a class="mobile-menu__item" href="#services">Услуги</a>
					<a class="mobile-menu__item" href="#">Стоимость перевода</a>
					<a class="mobile-menu__item" href="#">Оплата</a>
				</div>
			</div>
		</div>
		<div class="header-bottom">
			<div class="container">
				<nav class="menu">
					<a class="menu__item" href="/">Главная</a>
					<a class="menu__item" href="#">О компании</a>
					<a class="menu__item" href="#services">Услуги</a>
					<a class="menu__item" href="#">Стоимость перевода</a>
					<a class="menu__item" href="#">Оплата</a>
					<!-- <a class="menu__item" href="#">Отзывы</a> -->
					<a class="menu__item" href="#">Контакты</a>
				</nav>
			</div>
		</div>
	</header>